.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, rgba(238, 149, 89, 0.5), rgba(89, 207, 236, 0.5));
  font-size: 16px;
}

.nav{
  background-color: transparent;
  color: rgb(12, 12, 12);
  display: flex;
  justify-content: space-around;
  gap: 200px;
  padding: 0 10px;
}


.site-title {
  font-size: 2rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 10px;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: transparent;
  overflow: hidden;
}
.nav p{
  background-color: transparent;
  overflow: hidden;
  font-size: 24px;
  margin-left: 10px;
}

.nav img {
  width: 50px;
  height: 50px;
  
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #000000;
  color: rgb(72, 136, 231);
}


/* Add a color to the active/current link */
.topnav a.active {
  background-color: #1091a8;
  color: rgb(255, 255, 255);
}

/* Add a color to the active/current link */
.topnav a.active:hover {
  background-color: #000000;
  color: rgb(72, 136, 231);
}